<main class="contenedor panel-administracion">    
    <div class="seccion-admin">
        <h2>Bienvenido</h2>    
       
    </div>

 <footer class="site-footer contenedor">
     <nav class="nav">
        
        <a href="/ver-articulo">Ver ártículos </a>    
    </nav>

    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
    <div class="col-lg-4 text-lg-start">Arquitectura y Diseño de Software &rAarr; 801</div>
   </footer>

</main>