<main class= "contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>
    
    <form  method="POST" class="default-form">
       
        <div class="campo">
            <label>Descripción: </label>
            <input type="text"  value="<%= articulo.descripcion %>" name="descripcion" placeholder="Descripción">
        </div>
        
        <div class="campo">
            <label>Unidades disponibles: </label>
            <input type="text"  value="<%= articulo.unidades %> " name="unidades" placeholder="Unidades disponibles">
        </div>


        <div class="campo">
            <label>Precio: </label>
            <input type="text"  value="<%= articulo.precio %> " name="precio" placeholder="Precio">
        </div>
       
     
        <div class="campo enviar">
            <input type="submit" class="btn btn-verde" value="Guardar cambios">
        </div>
    </form>
</main>