<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>
    <form method="POST" class="default-form">
       <h2> <legend style="color: red;">Un artículo eliminado no se puede recuperar, ¿Continuar?</legend></h2>
        <div class="campo enviar text-center">
            <input type="submit" value="Eliminar articulo" class="btn btn-rojo">
        </div>
    </form>
</main>
