<main class="contenedor panel-administracion">
    <body>
        <div class="seccion-admin">
            <h2>TIENDA LA MODERNA 2023</h2>
            <p></p>
            <div style="text-align: center;">
                <img src="/img/categoria_4.jpg" alt="TESSFP" style="max-width: 100%; height: auto;">
            </div>
            <h2 class="section-subheading text-muted">Alumnos de la carrera de II del TESSFP</h2>
            <h2 class="section-subheading text-muted">Alma Yuridia Cárdenas Alcántara</h2>
            <h2 class="section-subheading text-muted">Jairo Hernandez Sarabia</h2>
            <br><br><br><br><br>
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
            <div class="col-lg-4 text-lg-start">Arquitectura y Diseño de Software &rAarr; 801</div>
        </div>
    </body>
</main>

