<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda la moderna <%- nombrePagina%></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
 <header class="site-header contenedor">
    <a href="/">
        <img src="/img/art.jpeg" alt="TESSFP">
    </a>
    <nav class="nav">
        <a href="/crear-cuenta">Registrarse</a>
        
        <a href="/iniciar-sesion">Iniciar sesión</a>
        
    </nav>
 </header>
 <% if (locals.mensajes) { %>
    <% const categoria = Object.keys(locals.mensajes) %>
    <% if (categoria.length) { %>
        <% locals.mensajes[categoria].forEach(alerta => { %>
            <div class="alertas">
                <p class="alerta <%= categoria %>"> <%= alerta %></p>
            </div>
        <% }) %>
    <% } %>
 <% } %>
  <%- body %>
  
  
 <script src="/public/js/trix.js"></script> 
</body>

</html>

